.messageBox {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow-y: scroll;
}

.messageBox__message {
  flex-grow: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #27ae60;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  max-width: 20rem;
}

.messageBox__message--self {
  align-self: flex-end;
  background-color: #7f8c8d;
}